*{
    margin: 0;
}

nav{
    margin-top: 1%;
    margin-right: 2%;
    display: flex;
    justify-content: end;
}

.btn{
    text-decoration: none;
    border: none;
    border-radius: 10px;
    padding: 15px;
}

.size{
    font-size: 1.5em;
}
.mr{
    margin-right: 3%;
}


.th2{
    border-bottom: black 1px solid;
    padding: 2%;
}

.td2{
    text-align: center;
    border-bottom: black 1px solid;
    padding: 2%;
}

.table2{
    border-collapse: collapse;
    width: 50%;
    margin-left: 25%;
}


.circuitTable{
    margin-left: 25%;
    margin-top: 2%;
}

.block{
    display: block;
}

.btn1{
    background: none;
    color: #fff;
    border: none;
    display: flex;
    align-items: center;
}

.flex{
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.bgColor{
background-color: #B7271A;
margin: 0;
}

.color{
    color: #fff;
}

.radius{
    border-radius: 10px 10px 0px 0px;
}

.circuitTable{
width: 50%;
}

.flex{
    text-align: center;
}

.table1, .td1, .th1, .tr1{
    border: solid 1px black;
    text-align: center;
}

.table2{
    border: none;
}



.td1, .th1{
    padding: 1% 2%;
}

.space{
    width: 20%;
}

.space1{
    width: 5%;
}

.img1{
    width: 40%;
}

.first{
    background: linear-gradient(to right,black, red);
    color: #fff;
}

.table1{
    border-collapse: collapse;
    display: none;
}

.test{
    display: block;
}

.flexSujet{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.btnSujet{
    width: 8%;
    margin-left: 25%;
    margin-top: 0.5%;
    text-align: center;

}

.textZone{
    width: 50%;
    padding: 10px;
    margin-left:25%;
    margin-top: 2%;
}

.flexAjout{
    display: flex;
    flex-direction: column;
}